In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
snapshot_one = pd.read_csv("gdrive/My Drive/2013_-_2018_Demographic_Snapshot_School.csv")
snapshot_one

,DBN,School Name,Year,Total Enrollment,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2013-14,190,26,39,39,21,16,26,...,1.1,3,1.6,65,34.2,19,10.0,171,90.0,No Data
1,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,...,0.5,2,1.1,64,35.0,17,9.3,169,92.3,93.5%
2,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,...,1.7,2,1.1,60,34.1,16,9.1,149,84.7,89.6%
3,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,2.2,4,2.2,51,28.7,12,6.7,152,85.4,89.2%
4,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,1.1,6,3.2,45,23.7,8,4.2,161,84.7,89.0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8967,84X730,Bronx Charter School for the Arts,2013-14,319,0,52,54,56,56,53,...,1.9,3,0.9,57,17.9,27,8.5,222,69.6,No Data
8968,84X730,Bronx Charter School for the Arts,2014-15,316,0,53,55,56,53,47,...,1.6,2,0.6,53,16.8,34,10.8,284,89.9,82.2%
8969,84X730,Bronx Charter School for the Arts,2015-16,323,0,51,57,55,55,57,...,1.9,5,1.5,61,18.9,49,15.2,268,83.0,80.6%
8970,84X730,Bronx Charter School for the Arts,2016-17,320,0,53,53,55,52,53,...,0.9,3,0.9,67,20.9,51,15.9,235,73.4,83.5%
8971,84X730,Bronx Charter School for the Arts,2017-18,314,0,50,51,54,51,52,...,1.0,1,0.3,63,20.1,57,18.2,253,80.6,88.3%

In [ ]:
snapshot_one = snapshot_one.drop(columns=['Grade K', 'Grade 1', 'Grade 2', 'Grade 3', 'Grade 4', '# White', '# Students with Disabilities', 'Grade 5', 'Grade 9', '# Multiple Race Categories Not Represented', '# English Language Learners', '# Poverty', '# Black', 'Grade PK (Half Day & Full Day)','Grade 10', 'Grade 11', '# Female', '# Male', "Grade 12",'# Asian', '# Hispanic','Economic Need Index'])

In [ ]:
for col in snapshot_one.columns:
    print(col)

DBN
School Name
Year
Total Enrollment
Grade 6
Grade 7
Grade 8
% Female
% Male
% Asian
% Black
% Hispanic
% Multiple Race Categories Not Represented
% White
% Students with Disabilities
% English Language Learners
% Poverty

In [ ]:
snapshot_one.DBN.value_counts()

01M015    5
25Q165    5
25Q214    5
26Q158    5
25Q209    5
         ..
84Q380    1
22K889    1
22K890    1
27Q377    1
84M357    1
Name: DBN, Length: 1844, dtype: int64

In [ ]:
middle_school = pd.read_csv("gdrive/My Drive/2018_DOE_Middle_School_Directory.csv")
print(middle_school.columns)

Index(['district', 'schooldbn', 'printedschoolname', 'overview',
       'neighborhood', 'address', 'sharedbuilding', 'accessibility',
       'telephone', 'independentwebsite',
       ...
       'Postcode', 'Borough', 'Latitude', 'Longitude', 'Community Board',
       'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA'],
      dtype='object', length=251)

In [ ]:
middle_school.rename(columns = {'schooldbn':'DBN'}, inplace = True)
middle_school

,district,DBN,printedschoolname,overview,neighborhood,address,sharedbuilding,accessibility,telephone,independentwebsite,...,Postcode,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,6.0,06M018,Park Terrace (P.S. 18),Our school is a close-knit learning community ...,Inwood,"4124 9th Avenue, Manhattan NY 10034",No,Accessible,917-521-2220,schools.nyc.gov/schoolportals/06/m018,...,10034.0,MANHATTAN,40.871278,-73.911516,12.0,10.0,299.0,1082045.0,1.022151e+09,Marble Hill-Inwood ...
1,6.0,06M052,I.S. 52 (Inwood Intermediate School 52),Our teacher-designed curriculum is tailored to...,Inwood,"650 Academy Street, Manhattan NY 10034","Yes–06M052, 06M211, 06M423",Not Accessible,212-567-9162,inwood52.com,...,10034.0,MANHATTAN,40.866053,-73.924835,12.0,10.0,291.0,1076776.0,1.022330e+09,Marble Hill-Inwood ...
2,6.0,06M143,Eleanor Roosevelt Intermediate School (I.S. 143),We provide students with a curriculum and skil...,Washington Heights,"511 West 182nd Street, Manhattan NY 10033","Yes–06M143, 06M348",Accessible,212-927-7739,is143.org,...,10033.0,MANHATTAN,40.848908,-73.930948,12.0,10.0,269.0,1063703.0,1.021550e+09,Washington Heights North ...
3,6.0,06M187,Hudson Cliffs School (P.S./I.S. 187),"""We are now at a point where we must educate o...",Washington Heights,"349 Cabrini Boulevard, Manhattan NY 10040",No,Not Accessible,212-927-8218,187hudsoncliffs.org,...,10040.0,MANHATTAN,40.856693,-73.937093,12.0,10.0,273.0,1064371.0,1.021790e+09,Washington Heights North ...
4,6.0,06M209,Hamilton Grange Middle School,"""The most dangerous criminal may be the man gi...",Manhattanville,"500 West 138th Street, Manhattan NY 10031","Yes–06M192, 06M209",Accessible,212-775-9600,thehamiltongrangeschool.org,...,10031.0,MANHATTAN,40.820953,-73.951145,9.0,7.0,22301.0,1084132.0,1.019880e+09,Manhattanville ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,28.0,28Q310,Queens Collegiate: A College Board School,Our students like the use of technology in eve...,Briarwood-Jamaica Hills,"167-01 Gothic Drive, Jamaica NY 11432","Yes–28Q310, 28Q325, 28Q328, 28Q350",Not Accessible,718-658-4016,queenscollegiate.wordpress.com,...,11432.0,QUEENS,40.713218,-73.797237,8.0,24.0,452.0,4448806.0,4.098580e+09,Briarwood-Jamaica Hills ...
480,28.0,28Q332,Redwood Middle School (I.S. 332),Redwood is a small middle school that offers s...,Springfield Gardens North,"133-25 Guy R Brewer Boulevard, Queens NY 11434","Yes–28Q072, 28Q332, 75Q993",Accessible,718-276-4540,schools.nyc.gov/schoolportals/28/q332,...,11434.0,QUEENS,40.673769,-73.775951,12.0,28.0,33402.0,4270059.0,4.124950e+09,Springfield Gardens North ...
481,28.0,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Students love our family-like atmosphere where...,Flushing Heights-Hillcrest,"160-20 Goethals Avenue, Queens NY 11432","Yes–28Q680, 75Q752",Accessible,718-969-3155,www.queensgateway.com,...,11432.0,QUEENS,40.718831,-73.806499,8.0,24.0,1267.0,4539721.0,4.068580e+09,Pomonok-Flushing Heights-Hillcrest ...
482,28.0,28Q896,"The Young Women's Leadership School, Queens","The Young Women's Leadership School (TYWLS), Q...",Briarwood-Jamaica Hills,"150-91 87th Road, Queens NY 11432",No,Accessible,718-725-0402,tywlsqueens.org,...,11432.0,QUEENS,40.707527,-73.806412,8.0,24.0,236.0,4207510.0,4.097070e+09,Briarwood-Jamaica Hills ...
483,30.0,30Q235,Academy for New Americans (I.S. 235),The Academy for New Americans offers newly arr...,Astoria,"30-14 30th Street, Queens NY 11102","Yes??234, 30Q235",NaN,718-956-4140,schools.nyc.gov/schoolportals/30/q235,...,11102.0,QUEENS,40.766792,-73.922589,1.0,22.0,73.0,4007619.0,4.005920e+09,Old Astoria ...

In [ ]:
merged_df = pd.merge(snapshot_one, middle_school, on="DBN")
merged_df = merged_df.drop(merged_df.iloc[:, 17:],axis = 1)
merged_df

,DBN,School Name,Year,Total Enrollment,Grade 6,Grade 7,Grade 8,% Female,% Male,% Asian,% Black,% Hispanic,% Multiple Race Categories Not Represented,% White,% Students with Disabilities,% English Language Learners,% Poverty
0,01M034,P.S. 034 Franklin D. Roosevelt,2013-14,393,43,57,53,49.9,50.1,6.6,27.5,62.6,0.3,3.1,32.8,6.4,94.9
1,01M034,P.S. 034 Franklin D. Roosevelt,2014-15,395,63,43,59,50.4,49.6,6.3,27.8,62.0,0.3,3.5,30.1,6.6,96.5
2,01M034,P.S. 034 Franklin D. Roosevelt,2015-16,394,64,62,50,50.8,49.2,4.6,28.7,63.2,0.0,3.6,31.0,7.4,97.5
3,01M034,P.S. 034 Franklin D. Roosevelt,2016-17,350,38,59,62,48.6,51.4,5.4,29.1,61.7,0.6,3.1,37.1,7.7,99.4
4,01M034,P.S. 034 Franklin D. Roosevelt,2017-18,333,38,41,58,45.0,55.0,3.3,31.8,61.3,0.9,2.7,36.6,7.5,97.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2384,32K562,Evergreen Middle School for Urban Exploration,2013-14,255,115,140,0,49.4,50.6,1.2,30.6,65.5,0.8,2.0,27.1,23.5,92.2
2385,32K562,Evergreen Middle School for Urban Exploration,2014-15,343,100,110,133,45.5,54.5,1.7,27.7,67.9,1.2,1.5,22.7,23.3,88.9
2386,32K562,Evergreen Middle School for Urban Exploration,2015-16,297,90,97,110,47.1,52.9,1.0,27.6,68.7,0.7,2.0,25.9,24.6,92.6
2387,32K562,Evergreen Middle School for Urban Exploration,2016-17,325,129,97,99,47.7,52.3,0.6,25.8,71.1,0.6,1.8,26.5,21.5,88.3
2388,32K562,Evergreen Middle School for Urban Exploration,2017-18,342,121,125,96,53.8,46.2,0.3,24.9,72.2,0.0,2.6,25.1,17.5,90.4

In [ ]:
print(merged_df.columns)

Index(['DBN', 'School Name', 'Year', 'Total Enrollment', 'Grade 6', 'Grade 7',
       'Grade 8', '% Female', '% Male', '% Asian', '% Black', '% Hispanic',
       '% Multiple Race Categories Not Represented', '% White',
       '% Students with Disabilities', '% English Language Learners',
       '% Poverty'],
      dtype='object')

Index(['DBN', 'School Name', 'Year', 'Total Enrollment', 'Grade 6', 'Grade 7',
       'Grade 8', '% Female', '% Male', '% Asian', '% Black', '% Hispanic',
       '% Multi-Racial', '% Native American', '% White',
       '% Missing Race/Ethnicity Data', '% Students with Disabilities',
       '% English Language Learners', '% Poverty'],
      dtype='object')

In [ ]:
snapshot_two = pd.read_csv("gdrive/My Drive/2017-18__-_2021-22_Demographic_Snapshot.csv")
snapshot_two

,DBN,School Name,Year,Total Enrollment,Grade 3K,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2017-18,190,0,17,28,32,33,23,...,0.032,0,0.000,49,0.258,8,0.042,161,84.7%,89.0%
1,01M015,P.S. 015 Roberto Clemente,2018-19,174,0,13,20,33,30,30,...,0.034,0,0.000,39,0.224,8,0.046,147,84.5%,88.8%
2,01M015,P.S. 015 Roberto Clemente,2019-20,190,0,14,29,28,38,33,...,0.047,0,0.000,46,0.242,17,0.089,155,81.6%,86.7%
3,01M015,P.S. 015 Roberto Clemente,2020-21,193,0,17,29,29,27,30,...,0.057,0,0.000,44,0.228,21,0.109,161,83.4%,86.4%
4,01M015,P.S. 015 Roberto Clemente,2021-22,179,0,15,30,26,24,22,...,0.067,0,0.000,38,0.212,11,0.061,150,83.8%,87.9%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9246,84X730,Bronx Charter School for the Arts,2017-18,314,0,0,50,51,54,51,...,0.003,0,0.000,68,0.217,57,0.182,258,82.2%,89.1%
9247,84X730,Bronx Charter School for the Arts,2018-19,430,0,0,49,54,49,54,...,0.007,0,0.000,103,0.240,71,0.165,363,84.4%,88.8%
9248,84X730,Bronx Charter School for the Arts,2019-20,523,0,0,51,50,53,52,...,0.010,0,0.000,117,0.224,69,0.132,453,86.6%,89.2%
9249,84X730,Bronx Charter School for the Arts,2020-21,626,0,0,38,52,53,55,...,0.006,1,0.002,152,0.243,78,0.125,547,87.4%,88.9%
9250,84X730,Bronx Charter School for the Arts,2021-22,598,0,0,52,44,54,55,...,0.005,2,0.003,133,0.222,79,0.132,540,90.3%,90.3%

In [ ]:
snapshot_two['% Poverty'] = snapshot_two['% Poverty'] .str.replace('%','').str.replace('Above', '')
snapshot_two.head(20)

,DBN,School Name,Year,Total Enrollment,Grade 3K,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2017-18,190,0,17,28,32,33,23,...,0.032,0,0.000,49,0.258,8,0.042,161,84.7,89.0%
1,01M015,P.S. 015 Roberto Clemente,2018-19,174,0,13,20,33,30,30,...,0.034,0,0.000,39,0.224,8,0.046,147,84.5,88.8%
2,01M015,P.S. 015 Roberto Clemente,2019-20,190,0,14,29,28,38,33,...,0.047,0,0.000,46,0.242,17,0.089,155,81.6,86.7%
3,01M015,P.S. 015 Roberto Clemente,2020-21,193,0,17,29,29,27,30,...,0.057,0,0.000,44,0.228,21,0.109,161,83.4,86.4%
4,01M015,P.S. 015 Roberto Clemente,2021-22,179,0,15,30,26,24,22,...,0.067,0,0.000,38,0.212,11,0.061,150,83.8,87.9%
5,01M019,P.S. 019 Asher Levy,2017-18,257,0,13,34,38,42,46,...,0.062,0,0.000,90,0.350,8,0.031,198,77.0,67.9%
6,01M019,P.S. 019 Asher Levy,2018-19,249,0,10,30,39,43,41,...,0.072,0,0.000,102,0.410,8,0.032,183,73.5,68.7%
7,01M019,P.S. 019 Asher Levy,2019-20,236,0,16,25,27,39,45,...,0.081,0,0.000,94,0.398,8,0.034,176,74.6,70.4%
8,01M019,P.S. 019 Asher Levy,2020-21,212,0,13,23,25,27,38,...,0.080,3,0.014,87,0.410,9,0.042,152,71.7,69.6%
9,01M019,P.S. 019 Asher Levy,2021-22,176,9,7,22,20,22,23,...,0.119,3,0.017,72,0.409,6,0.034,124,70.5,67.8%
10,01M020,P.S. 020 Anna Silver,2017-18,497,0,34,71,82,69,89,...,0.032,1,0.002,118,0.237,86,0.173,366,73.6,80.0%
11,01M020,P.S. 020 Anna Silver,2018-19,481,0,42,61,69,76,67,...,0.046,1,0.002,117,0.243,63,0.131,326,67.8,75.4%
12,01M020,P.S. 020 Anna Silver,2019-20,464,0,41,63,61,71,76,...,0.067,1,0.002,106,0.228,61,0.131,354,76.3,78.4%
13,01M020,P.S. 020 Anna Silver,2020-21,412,0,37,58,52,60,66,...,0.073,1,0.002,92,0.223,49,0.119,297,72.1,77.0%
14,01M020,P.S. 020 Anna Silver,2021-22,351,0,42,52,50,42,48,...,0.077,1,0.003,74,0.211,35,0.100,246,70.1,75.3%
15,01M034,P.S. 034 Franklin D. Roosevelt,2017-18,333,0,13,25,18,22,47,...,0.027,1,0.003,124,0.372,25,0.075,Above 95%,95,93.7%
16,01M034,P.S. 034 Franklin D. Roosevelt,2018-19,305,0,17,26,20,16,21,...,0.030,1,0.003,117,0.384,22,0.072,Above 95%,95,94.8%
17,01M034,P.S. 034 Franklin D. Roosevelt,2019-20,296,0,17,24,26,16,18,...,0.027,0,0.000,117,0.395,17,0.057,Above 95%,95,Above 95%
18,01M034,P.S. 034 Franklin D. Roosevelt,2020-21,273,0,12,19,24,27,16,...,0.029,0,0.000,108,0.396,17,0.062,Above 95%,95,Above 95%
19,01M034,P.S. 034 Franklin D. Roosevelt,2021-22,258,10,9,15,21,25,27,...,0.023,0,0.000,88,0.341,16,0.062,Above 95%,95,94.4%

In [ ]:
snapshot_two = snapshot_two.drop(columns=['Grade 3K','# Missing Race/Ethnicity Data','Grade K','# Multi-Racial','# Native American','Grade 1', 'Grade 2', 'Grade 3', 'Grade 4', '# White', '# Students with Disabilities', 'Grade 5', 'Grade 9', '# English Language Learners', '# Poverty', '# Black', 'Grade PK (Half Day & Full Day)','Grade 10', 'Grade 11', '# Female', '# Male', "Grade 12",'# Asian', '# Hispanic','Economic Need Index'])

In [ ]:
print(snapshot_two.columns)

Index(['DBN', 'School Name', 'Year', 'Total Enrollment', 'Grade 6', 'Grade 7',
       'Grade 8', '% Female', '% Male', '% Asian', '% Black', '% Hispanic',
       '% Multi-Racial', '% Native American', '% White',
       '% Missing Race/Ethnicity Data', '% Students with Disabilities',
       '% English Language Learners', '% Poverty'],
      dtype='object')

In [ ]:
demographic_snapshot= pd.concat([merged_df, snapshot_two],                  
                      ignore_index = True,
                      sort = False)
demographic_snapshot = demographic_snapshot.drop(columns=["Total Enrollment", "% Multi-Racial", "% Native American", "% Missing Race/Ethnicity Data"])
demographic_snapshot= demographic_snapshot.rename(columns={'DBN': 'School_DBN', 'School Name': 'School_Name', 'Grade 6':'Grade_6', 'Grade 7':'Grade_7', 'Grade 8':'Grade_8', ' % Multiple Race Categories Not Represented': '% Multiple_Race_Categories_Not_Represented', })
demographic_snapshot = demographic_snapshot.fillna(0)
demographic_snapshot = demographic_snapshot.round(2)
demographic_snapshot['% Poverty'] = demographic_snapshot['% Poverty'].astype(float)
demographic_snapshot

,School_DBN,School_Name,Year,Grade_6,Grade_7,Grade_8,% Female,% Male,% Asian,% Black,% Hispanic,% Multiple Race Categories Not Represented,% White,% Students with Disabilities,% English Language Learners,% Poverty
0,01M034,P.S. 034 Franklin D. Roosevelt,2013-14,43,57,53,49.90,50.10,6.60,27.50,62.60,0.3,3.10,32.80,6.40,94.9
1,01M034,P.S. 034 Franklin D. Roosevelt,2014-15,63,43,59,50.40,49.60,6.30,27.80,62.00,0.3,3.50,30.10,6.60,96.5
2,01M034,P.S. 034 Franklin D. Roosevelt,2015-16,64,62,50,50.80,49.20,4.60,28.70,63.20,0.0,3.60,31.00,7.40,97.5
3,01M034,P.S. 034 Franklin D. Roosevelt,2016-17,38,59,62,48.60,51.40,5.40,29.10,61.70,0.6,3.10,37.10,7.70,99.4
4,01M034,P.S. 034 Franklin D. Roosevelt,2017-18,38,41,58,45.00,55.00,3.30,31.80,61.30,0.9,2.70,36.60,7.50,97.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11635,84X730,Bronx Charter School for the Arts,2017-18,2,0,0,0.55,0.45,0.01,0.21,0.77,0.0,0.00,0.22,0.18,82.2
11636,84X730,Bronx Charter School for the Arts,2018-19,120,0,0,0.54,0.46,0.00,0.23,0.75,0.0,0.01,0.24,0.16,84.4
11637,84X730,Bronx Charter School for the Arts,2019-20,107,106,0,0.54,0.46,0.00,0.25,0.72,0.0,0.01,0.22,0.13,86.6
11638,84X730,Bronx Charter School for the Arts,2020-21,104,104,109,0.54,0.46,0.00,0.27,0.70,0.0,0.01,0.24,0.12,87.4
11639,84X730,Bronx Charter School for the Arts,2021-22,91,99,100,0.54,0.46,0.00,0.27,0.70,0.0,0.00,0.22,0.13,90.3

In [ ]:
demographic_snapshot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11640 entries, 0 to 11639
Data columns (total 16 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   School_DBN                                  11640 non-null  object
 1   School_Name                                 11640 non-null  object
 2   Year                                        11640 non-null  object
 3   Grade_6                                     11640 non-null  int64
 4   Grade_7                                     11640 non-null  int64
 5   Grade_8                                     11640 non-null  int64
 6   % Female                                    11640 non-null  float64
 7   % Male                                      11640 non-null  float64
 8   % Asian                                     11640 non-null  float64
 9   % Black                                     11640 non-null  float64
 10  % Hispanic                                  11640 non-null  float64
 11  % Multiple Race Categories Not Represented  11640 non-null  float64
 12  % White                                     11640 non-null  float64
 13  % Students with Disabilities                11640 non-null  float64
 14  % English Language Learners                 11640 non-null  float64
 15  % Poverty                                   11640 non-null  float64
dtypes: float64(10), int64(3), object(3)
memory usage: 1.4+ MB

In [ ]:
demographic_snapshot.size

186240