In [85]:
import pandas as pd
aa = "/content/Grades.csv"

In [86]:
import scipy.stats as stats
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import plotly.express as px
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import plotly.graph_objects as go

In [87]:
grade = pd.read_csv(aa)

In [88]:
grade['Year'] = pd.to_datetime(grade['Year'], format='%Y')

In [89]:
grade.head()

,District,DBN,School Name,Grade,Group,Class,Year,Number Tested,Mean Scale Score,# Level 1,% Level 1,# Level 2,% Level 2,# Level 3,% Level 3,# Level 4,% Level 4,# Level 3+4,% Level 3+4
0,2,02M104,J.H.S. 104 SIMON BARUCH,6,NaN,Class 1,2013-01-01,311.0,328.0,27.0,8.7,84.0,27.0,82.0,26.4,118.0,37.9,200.0,64.3
1,2,02M104,J.H.S. 104 SIMON BARUCH,7,NaN,NaN,2013-01-01,356.0,319.0,63.0,17.7,102.0,28.7,117.0,32.9,74.0,20.8,191.0,53.7
2,2,02M104,J.H.S. 104 SIMON BARUCH,8,NaN,NaN,2013-01-01,325.0,321.0,45.0,13.8,113.0,34.8,96.0,29.5,71.0,21.8,167.0,51.4
3,2,02M114,EAST SIDE MIDDLE SCHOOL,6,NaN,Class 1,2013-01-01,148.0,346.0,4.0,2.7,13.0,8.8,38.0,25.7,93.0,62.8,131.0,88.5
4,2,02M114,EAST SIDE MIDDLE SCHOOL,7,NaN,NaN,2013-01-01,141.0,349.0,1.0,0.7,14.0,9.9,45.0,31.9,81.0,57.4,126.0,89.4

In [77]:
grade.drop(['DBN', 'School Name', 'Grade', 'Number Tested', 'Mean Scale Score', '# Level 1', '% Level 1',
       '# Level 2', '% Level 2', '# Level 3', '% Level 3', '# Level 4',
       '% Level 4', '# Level 3+4'], axis=1, inplace=True)

In [102]:
grades = grade.set_index('Year')

In [103]:
Class = grades.dropna().groupby(['Year', 'Class'])
Group = grades.dropna().groupby(['Year', 'Group'])

In [104]:
Class.head()

,District,DBN,School Name,Grade,Group,Class,Number Tested,Mean Scale Score,# Level 1,% Level 1,# Level 2,% Level 2,# Level 3,% Level 3,# Level 4,% Level 4,# Level 3+4,% Level 3+4
Year,,,,,,,,,,,,,,,,,,
2016-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,6,Group 1,Class 4,358.0,329.0,32.0,8.9,83.0,23.2,91.0,25.4,152.0,42.5,243.0,67.9
2016-01-01,2,02M114,EAST SIDE MIDDLE SCHOOL,6,Group 1,Class 4,145.0,369.0,0.0,0.0,7.0,4.8,6.0,4.1,132.0,91.0,138.0,95.2
2016-01-01,2,02M126,P.S. 126 JACOB AUGUST RIIS,6,Group 1,Class 4,116.0,341.0,7.0,6.0,21.0,18.1,21.0,18.1,67.0,57.8,88.0,75.9
2016-01-01,2,02M131,M.S. 131,6,Group 1,Class 4,92.0,308.0,27.0,29.3,26.0,28.3,19.0,20.7,20.0,21.7,39.0,42.4
2016-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,6,Group 1,Class 4,423.0,341.0,33.0,7.8,70.0,16.5,78.0,18.4,242.0,57.2,320.0,75.7
2017-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,6,Group 2,Class 5,358.0,328.0,36.0,10.1,78.0,21.8,97.0,27.1,147.0,41.1,244.0,68.2
2017-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,7,Group 1,Class 4,360.0,334.0,39.0,10.8,55.0,15.3,146.0,40.6,120.0,33.3,266.0,73.9
2017-01-01,2,02M114,EAST SIDE MIDDLE SCHOOL,6,Group 2,Class 5,150.0,363.0,3.0,2.0,7.0,4.7,16.0,10.7,124.0,82.7,140.0,93.3
2017-01-01,2,02M114,EAST SIDE MIDDLE SCHOOL,7,Group 1,Class 4,144.0,366.0,2.0,1.4,5.0,3.5,21.0,14.6,116.0,80.6,137.0,95.1
2017-01-01,2,02M126,P.S. 126 JACOB AUGUST RIIS,6,Group 2,Class 5,108.0,339.0,7.0,6.5,19.0,17.6,22.0,20.4,60.0,55.6,82.0,75.9
2017-01-01,2,02M126,P.S. 126 JACOB AUGUST RIIS,7,Group 1,Class 4,111.0,348.0,4.0,3.6,16.0,14.4,31.0,27.9,60.0,54.1,91.0,82.0
2017-01-01,2,02M131,M.S. 131,6,Group 2,Class 5,148.0,318.0,22.0,14.9,42.0,28.4,38.0,25.7,46.0,31.1,84.0,56.8
2017-01-01,2,02M131,M.S. 131,7,Group 1,Class 4,109.0,319.0,23.0,21.1,24.0,22.0,39.0,35.8,23.0,21.1,62.0,56.9
2017-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,6,Group 2,Class 5,466.0,339.0,43.0,9.2,89.0,19.1,89.0,19.1,245.0,52.6,334.0,71.7
2017-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,7,Group 1,Class 4,419.0,343.0,29.0,6.9,48.0,11.5,142.0,33.9,200.0,47.7,342.0,81.6
2018-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,6,Group 3,Class 6,362.0,607.0,52.0,14.4,89.0,24.6,108.0,29.8,113.0,31.2,221.0,61.0
2018-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,7,Group 2,Class 5,354.0,614.0,30.0,8.5,59.0,16.7,98.0,27.7,167.0,47.2,265.0,74.9
2018-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,8,Group 1,Class 4,220.0,608.0,43.0,19.5,50.0,22.7,74.0,33.6,53.0,24.1,127.0,57.7
2018-01-01,2,02M114,EAST SIDE MIDDLE SCHOOL,6,Group 3,Class 6,141.0,630.0,1.0,0.7,7.0,5.0,13.0,9.2,120.0,85.1,133.0,94.3
2018-01-01,2,02M114,EAST SIDE MIDDLE SCHOOL,7,Group 2,Class 5,149.0,630.0,3.0,2.0,2.0,1.3,12.0,8.1,132.0,88.6,144.0,96.6
2018-01-01,2,02M114,EAST SIDE MIDDLE SCHOOL,8,Group 1,Class 4,149.0,633.0,0.0,0.0,5.0,3.4,29.0,19.5,115.0,77.2,144.0,96.6
2018-01-01,2,02M126,P.S. 126 JACOB AUGUST RIIS,6,Group 3,Class 6,119.0,618.0,11.0,9.2,14.0,11.8,12.0,10.1,82.0,68.9,94.0,79.0
2018-01-01,2,02M126,P.S. 126 JACOB AUGUST RIIS,7,Group 2,Class 5,103.0,617.0,8.0,7.8,12.0,11.7,28.0,27.2,55.0,53.4,83.0,80.6
2018-01-01,2,02M131,M.S. 131,6,Group 3,Class 6,127.0,601.0,32.0,25.2,33.0,26.0,36.0,28.3,26.0,20.5,62.0,48.8
2018-01-01,2,02M131,M.S. 131,7,Group 2,Class 5,151.0,608.0,19.0,12.6,39.0,25.8,52.0,34.4,41.0,27.2,93.0,61.6
2018-01-01,2,02M131,M.S. 131,8,Group 1,Class 4,116.0,621.0,9.0,7.8,23.0,19.8,18.0,15.5,66.0,56.9,84.0,72.4
2018-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,6,Group 3,Class 6,444.0,617.0,32.0,7.2,52.0,11.7,113.0,25.5,247.0,55.6,360.0,81.1
2018-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,7,Group 2,Class 5,444.0,619.0,29.0,6.5,47.0,10.6,110.0,24.8,258.0,58.1,368.0,82.9
2018-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,8,Group 1,Class 4,299.0,618.0,28.0,9.4,46.0,15.4,85.0,28.4,140.0,46.8,225.0,75.3
2018-01-01,2,02M177,YORKVILLE EAST MIDDLE SCHOOL,8,Group 1,Class 4,50.0,601.0,16.0,32.0,16.0,32.0,17.0,34.0,1.0,2.0,18.0,36.0
2019-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,6,Group 4,Class 7,354.0,613.0,28.0,7.9,51.0,14.4,99.0,28.0,176.0,49.7,275.0,77.7
2019-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,7,Group 3,Class 6,339.0,616.0,24.0,7.1,54.0,15.9,98.0,28.9,163.0,48.1,261.0,77.0
2019-01-01,2,02M104,J.H.S. 104 SIMON BARUCH,8,Group 2,Class 5,150.0,610.0,29.0,19.3,31.0,20.7,44.0,29.3,46.0,30.7,90.0,60.0
2019-01-01,2,02M114,EAST SIDE MIDDLE SCHOOL,6,Group 4,Class 7,149.0,629.0,1.0,0.7,5.0,3.4,14.0,9.4,129.0,86.6,143.0,96.0
2019-01-01,2,02M114,EAST SIDE MIDDLE SCHOOL,7,Group 3,Class 6,145.0,632.0,1.0,0.7,4.0,2.8,9.0,6.2,131.0,90.3,140.0,96.6
2019-01-01,2,02M126,P.S. 126 JACOB AUGUST RIIS,6,Group 4,Class 7,111.0,617.0,7.0,6.3,14.0,12.6,17.0,15.3,73.0,65.8,90.0,81.1
2019-01-01,2,02M126,P.S. 126 JACOB AUGUST RIIS,7,Group 3,Class 6,112.0,623.0,3.0,2.7,15.0,13.4,15.0,13.4,79.0,70.5,94.0,83.9
2019-01-01,2,02M131,M.S. 131,6,Group 4,Class 7,98.0,605.0,15.0,15.3,30.0,30.6,25.0,25.5,28.0,28.6,53.0,54.1
2019-01-01,2,02M131,M.S. 131,7,Group 3,Class 6,124.0,608.0,19.0,15.3,30.0,24.2,35.0,28.2,40.0,32.3,75.0,60.5
2019-01-01,2,02M131,M.S. 131,8,Group 2,Class 5,153.0,616.0,19.0,12.4,23.0,15.0,44.0,28.8,67.0,43.8,111.0,72.5
2019-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,6,Group 4,Class 7,454.0,612.0,50.0,11.0,53.0,11.7,132.0,29.1,219.0,48.2,351.0,77.3
2019-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,7,Group 3,Class 6,432.0,619.0,28.0,6.5,47.0,10.9,112.0,25.9,245.0,56.7,357.0,82.6
2019-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,8,Group 2,Class 5,309.0,617.0,31.0,10.0,62.0,20.1,81.0,26.2,135.0,43.7,216.0,69.9
2019-01-01,2,02M217,P.S./I.S. 217 ROOSEVELT ISLAND,8,Group 2,Class 5,23.0,598.0,8.0,34.8,7.0,30.4,5.0,21.7,3.0,13.0,8.0,34.8
2019-01-01,2,02M225,ELLA BAKER SCHOOL,8,Group 2,Class 5,9.0,604.0,2.0,22.2,4.0,44.4,2.0,22.2,1.0,11.1,3.0,33.3
2022-01-01,2,02M167,J.H.S. 167 ROBERT F. WAGNER,8,Group 5,Class 8,189.0,612.0,30.0,15.9,55.0,29.1,40.0,21.2,64.0,33.9,104.0,55.0
2022-01-01,2,02M225,ELLA BAKER SCHOOL,8,Group 5,Class 8,10.0,594.0,5.0,50.0,3.0,30.0,1.0,10.0,1.0,10.0,2.0,20.0
2022-01-01,2,02M289,I.S. 289,8,Group 5,Class 8,67.0,617.0,7.0,10.4,16.0,23.9,14.0,20.9,30.0,44.8,44.0,65.7
2022-01-01,2,02M413,SCHOOL OF THE FUTURE HIGH SCHOOL,8,Group 5,Class 8,22.0,607.0,3.0,13.6,10.0,45.5,5.0,22.7,4.0,18.2,9.0,40.9
2022-01-01,2,02M422,QUEST TO LEARN,8,Group 5,Class 8,39.0,591.0,22.0,56.4,12.0,30.8,4.0,10.3,1.0,2.6,5.0,12.8

In [69]:
from statsmodels.tsa.stattools import adfuller

def check_stationarity(timeseries):
    # Perform the Augmented Dickey-Fuller test
    result = adfuller(timeseries)
    print('ADF Statistic: %f' % result[0])
    print('p-value: %f' % result[1])
    print('Critical Values:')
    for key, value in result[4].items():
        print('\t%s: %.3f' % (key, value))

In [70]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.seasonal import seasonal_decompose

Breaking it down by Class

In [109]:
"""for name, group in Class:
    check_stationarity(group['% Level 3+4'])"""

"for name, group in Class:\n    check_stationarity(group['% Level 3+4'])"

In [106]:
"""for name, group in Class:
    model = ExponentialSmoothing(group['% Level 3+4']).fit()
    plt.plot(model.fittedvalues, label='Prediction')
    plt.plot(group['% Level 3+4'], label='Data')
    plt.legend(loc='best')
    plt.show()""

SyntaxError: ignored

Breaking it down by Group

In [107]:
""" for name, group in Group:
    check_stationarity(group['% Level 3+4'])"""

" for name, group in Group:\n    check_stationarity(group['% Level 3+4'])"

In [108]:
"""for name, group in Group:
    model = ExponentialSmoothing(group['% Level 3+4']).fit()
    plt.plot(model.fittedvalues, label='Prediction')
    plt.plot(group['% Level 3+4'], label='Data')
    plt.legend(loc='best')
    plt.show() """

"for name, group in Group:\n    model = ExponentialSmoothing(group['% Level 3+4']).fit()\n    plt.plot(model.fittedvalues, label='Prediction')\n    plt.plot(group['% Level 3+4'], label='Data')\n    plt.legend(loc='best')\n    plt.show() "